@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

img {
    vertical-align: middle;
    border-style: none;
    height: 40px;
}
.card#detail{
    background: #eee;
    padding: 3em;
    float: left;
    width: 100%;
    line-height: 1.5em; 
  }
  .card#test{
    margin-top: 50px;
  }
.w-100 {
    width: 100%!important;
    height: 250px !important;
}
/* xu li menu */

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-item  {
    display: block;
    width: 100%;
    padding: .0rem 0rem  !important;
    clear: both;
    font-weight: 400;
    color: lightblue;
    text-align: center;
    white-space: nowrap;
    border: 0;
}


/*product card*/
.card-book{
	width: 90% ; 
    height: 450px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	position: relative;
    text-align: center;
}
.book-title{
	margin-bottom: 0.25rem;
}

.btn-detail{
	border: 1px solid #3a5c83 !important;
}
.btn-detail:hover{
	color: white !important;
	background-color: #3a5c83 !important;
}
.sale-sticky{
	color: white;
	background-color: #f90;
	display: block;
	text-align: center;
	width: 120px;
	position: absolute;
	top: 11px;
    right: -39px;
	transform: rotate(45deg);
}
.card-img-top {
    height: 280px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    
}
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .show {display: block;}
/* footer */
#suggest_container { position:relative; overflow:visible; }
#id_suggesstions { 
    border-radius: .25rem; 
    line-height: 1.42857143; 
    max-height: 200px; 
    width: 230px; 
    z-index: 1; ; 
    position: absolute; 
    top: calc(1.5em + .75rem + 2px); 
    left: 0px; 
    border: 1px solid #ebebeb; 
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
#login_button{
    width: auto !important;
}
#imgSuggest {
    max-width: 100% !important; 
    float: left;
    margin: 0 5px 0 0;
    width: 50px;
    height: 50px;
}
#id_suggesstions li{
    padding: 5px 0 5px 0;
    list-style: none;
    display: block;
    border-bottom: 1px solid #ebebeb;
}
#suggest_container h3{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#suggest_container i{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: italic;
}
.page{
    display: flex; 
    justify-content: center;
}